# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v15/.suo
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/.suo
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/Browse.VC.db
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/Browse.VC.db-shm
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/Browse.VC.db-wal
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/Browse.VC.opendb
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/12cb0e531114598d/BASEOBJECT.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/22d61918f5d3863a/GAME.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/30b993eb353490a2/GAME.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/3e1ad553299cf604/BASEOBJECT.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/87cc48642b9d841f/MAIN.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/a63e5f74c5c7c00f/GAMEBASE.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/a84f94cca0a7af87/GAMEBASE.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/ce1d6e595094a0c7/RENDERER.ipch
BasicCodingTestVS/code/local/test/build/.vs/CodingTest/v17/ipch/AutoPCH/e88ffde1c5dfab2f/RENDERER.ipch
